:root {
  --color-primary: #2752E7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-secondary: rgba(169, 169, 169, 1);
  --color-secondary-2: rgba(98, 98, 98, 1);
  --color-tertiary: rgba(245, 248, 254, 1);
  --border: 1px solid #f0eeee; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.4rem;
  background-color: var(--color-tertiary); }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.button {
  width: -webkit-fill-available;
  border: none;
  outline: none;
  border-radius: .4rem;
  margin: 0 2rem 2rem 2rem;
  font-size: 1.6rem;
  padding: 1.7rem;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer; }

.font-color {
  color: #53d258 !important; }

.sidebar {
  border-right: var(--border); }
  .sidebar__logo {
    padding: 2.3rem 0;
    text-align: center;
    border-bottom: var(--border); }
    .sidebar__logo img {
      width: 13rem;
      height: 3.2rem; }

.side-nav-top {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.4rem;
  padding: 0 3rem 3rem 3rem; }
  .side-nav-top__item {
    position: relative;
    border-radius: 15px; }
    .side-nav-top__item:not(:last-child) {
      margin-bottom: 1.6rem; }
    .side-nav-top__item:first-child .side-nav-top__link {
      color: var(--color-primary); }
  .side-nav-top__item:hover, .side-nav-top__item--active {
    background-color: var(--color-tertiary); }
    .side-nav-top__item:hover .side-nav-top__link, .side-nav-top__item--active .side-nav-top__link {
      color: var(--color-primary); }
  .side-nav-top__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav-top__item:hover::before, .side-nav-top__item--active::before {
    transform: scaleY(1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
  .side-nav-top__item:active::before {
    background-color: var(--color-primary); }
  .side-nav-top__link:link, .side-nav-top__link:visited {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    .side-nav-top__link:link span:not(:last-child), .side-nav-top__link:visited span:not(:last-child) {
      margin-right: 1.2rem; }

.side-nav-bottom {
  font-size: 1.4rem;
  list-style: none;
  padding: 3rem 3rem 3rem 3rem;
  border-top: var(--border); }
  .side-nav-bottom__item {
    position: relative;
    border-radius: 15px; }
    .side-nav-bottom__item:not(:last-child) {
      margin-bottom: 1.6rem; }
  .side-nav-bottom__item:hover, .side-nav-bottom__item--active {
    background-color: var(--color-tertiary); }
    .side-nav-bottom__item:hover .side-nav-bottom__link, .side-nav-bottom__item--active .side-nav-bottom__link {
      color: var(--color-primary); }
  .side-nav-bottom__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav-bottom__item:hover::before, .side-nav-bottom__item--active::before {
    transform: scaleY(1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
  .side-nav-bottom__item:active::before {
    background-color: var(--color-primary); }
  .side-nav-bottom__link:link, .side-nav-bottom__link:visited {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    .side-nav-bottom__link:link span:not(:last-child), .side-nav-bottom__link:visited span:not(:last-child) {
      margin-right: 1.2rem; }

.header {
  padding: 2rem 2.4rem;
  border-bottom: var(--border); }
  .header__left h2 {
    font-size: 1.8rem; }
  .header__left p {
    font-size: 1.2rem;
    color: var(--color-secondary-2); }
  .header__right {
    display: flex;
    align-items: center; }
    .header__right > *:not(:last-child) {
      margin-left: 1rem; }
    .header__right--search-input {
      display: flex;
      align-items: center;
      border: var(--border);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: var(--color-secondary); }
      .header__right--search-input span {
        font-size: 2rem;
        cursor: pointer; }
      .header__right--search-input input {
        border: none;
        outline: none;
        padding-left: 1rem; }
    .header__right img {
      width: 40px;
      height: 40px;
      border-radius: 100px; }

.dashboard {
  display: flex;
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .dashboard {
      flex-direction: column; } }
  .dashboard__chartside {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0; }
  .dashboard__aside {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; }
  .dashboard__counter {
    display: flex;
    gap: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .dashboard__counter {
        flex-direction: column; } }
    .dashboard__counter--1 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border); }
      .dashboard__counter--1:hover {
        background-color: var(--color-primary);
        color: #fff; }
      .dashboard__counter--1 h2 {
        font-size: 1.8rem; }
      .dashboard__counter--1 p {
        display: flex;
        color: #53d258 !important;
        font-size: 1.2rem; }
    .dashboard__counter--2 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border); }
      .dashboard__counter--2:hover {
        background-color: var(--color-primary);
        color: #fff; }
      .dashboard__counter--2 h2 {
        font-size: 1.8rem; }
      .dashboard__counter--2 p {
        display: flex;
        color: #e25c5c !important;
        font-size: 1.2rem; }
    .dashboard__counter--3 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border); }
      .dashboard__counter--3:hover {
        background-color: var(--color-primary);
        color: #fff; }
      .dashboard__counter--3 h2 {
        font-size: 1.8rem; }
      .dashboard__counter--3 p {
        display: flex;
        color: #53d258 !important;
        font-size: 1.2rem; }
    .dashboard__counter--1:hover .dashboard__counter-top--icon span {
      background-color: #fff; }
    .dashboard__counter--2:hover .dashboard__counter-top--icon span {
      background-color: #fff; }
    .dashboard__counter--3:hover .dashboard__counter-top--icon span {
      background-color: #fff; }
    .dashboard__counter-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem; }
      .dashboard__counter-top--icon {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 700; }
        .dashboard__counter-top--icon span {
          font-size: 1.2rem;
          padding: 0.8rem;
          background: #d0dbff;
          border-radius: 50%;
          color: var(--color-primary) !important; }
      .dashboard__counter-top img {
        width: 4rem;
        height: 4rem; }

.trade {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border: var(--border); }
  .trade__coin {
    display: flex;
    justify-content: space-evenly;
    padding: 2.4rem 0; }
    .trade__coin h3 {
      font-size: 16px; }
    .trade__coin h3:first-child {
      color: var(--color-primary); }
    .trade__coin h3:last-child {
      color: var(--color-secondary); }
  .trade__price {
    text-align: center; }
    .trade__price p {
      color: var(--color-secondary); }
    .trade__price h3 {
      font-size: 1.8rem;
      margin-top: 0.4rem;
      font-weight: 700; }
  .trade-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    margin: 2rem;
    padding: 1rem; }
    .trade-input input {
      border: none;
      outline: none; }
    .trade-input__right {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .trade-input__right img {
        width: 2.4rem;
        height: 2.4rem; }

.transfer {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border: var(--border); }
  .transfer h3 {
    font-size: 1.6rem;
    margin: 1.6rem 2rem; }
  .transfer__profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-bottom: 1.2rem; }
    .transfer__profile img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      cursor: pointer; }
    .transfer__profile span {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
  .transfer label {
    margin-left: 2rem;
    color: var(--color-secondary); }
  .transfer input {
    margin: 0 2rem;
    width: -webkit-fill-available;
    border: var(--border);
    outline: none;
    padding-left: 1.4rem; }
  .transfer button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem; }

.dashboard__chart--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  .dashboard__chart--header-btns {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .dashboard__chart--header-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: var(--border);
    outline: none;
    color: var(--color-secondary-2);
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 0.4s; }
    .dashboard__chart--header-btn:hover {
      background-color: var(--color-primary);
      color: #fff; }
    .dashboard__chart--header-btn:focus {
      transform: translateY(-2px); }

.new-coin {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border: var(--border);
  padding-bottom: 2.5rem;
  border-radius: 0.7rem; }
  .new-coin__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 2rem 0 2rem; }
    .new-coin__item:first-child p {
      color: var(--color-primary);
      font-weight: 700;
      cursor: pointer; }
    .new-coin__item:hover .new-coin__item--left h3 {
      color: var(--color-primary);
      cursor: pointer; }
  .new-coin__item--left {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .new-coin__item--left img {
      width: 4rem;
      height: 4rem; }
    .new-coin__item--left h3 {
      font-size: 1.4rem; }
    .new-coin__item--left p {
      font-size: 1rem;
      color: var(--color-secondary); }

.trending-market {
  margin-top: 2.4rem;
  padding: 2rem;
  background-color: #fff; }
  .trending-market__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem; }
    .trending-market__item:not(:last-child) {
      padding-bottom: 2rem;
      padding-top: 1rem; }
    .trending-market__item p {
      display: flex;
      align-items: center; }
    .trending-market__item--img {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .trending-market__item--img img {
        width: 2.4rem;
        height: 2.4rem; }
  .trending-market__sub {
    border-bottom: var(--border);
    padding-bottom: 0 !important; }
    .trending-market__sub p {
      font-size: 1rem;
      color: var(--color-secondary); }
  .trending-market__heading {
    padding-bottom: 0 !important;
    padding-top: 0 !important; }

.container {
  display: flex; }

.sidebar {
  flex: 0 0 25.2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 90vh; }
  @media only screen and (max-width: 47.5em) {
    .sidebar {
      display: none; } }

.main-content {
  flex: 1; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; }

.dashboard {
  padding: 2.4rem; }
  .dashboard__chart {
    margin: 2.4rem 0;
    background-color: #fff;
    border: var(--border);
    padding: 2rem;
    border-radius: 7px; }
