:root {
    --color-primary: #2752E7;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-secondary: rgba(169, 169, 169, 1);
    --color-secondary-2: rgba(98, 98, 98, 1);
    --color-tertiary: rgba(245, 248, 254, 1);



    --border: 1px solid #f0eeee;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-medium-2: 47.5em;  // 750px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    min-height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
    font-size: 1.4rem;
    background-color: var(--color-tertiary);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.button{
    width: -webkit-fill-available;
    border: none;
    outline: none;
    border-radius: .4rem;
    margin: 0 2rem 2rem 2rem;
    font-size: 1.6rem;
    padding: 1.7rem;
    background-color: var(--color-primary);;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s;
    position: relative;


      
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);
      
          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }
      
        &:active , 
        &:focus {
          outline:none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
        }
      
        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: .4rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all 0.4s;
        }
      
        &--white {
          background-color: var(--color-white);
          color: --color-secondary;
      
          &::after {
            background-color: var(--color-white);
          }
        }
      
        &--blue {
          background-color: var(--color-primary);
          color:var(--color-white);
      
          &::after {
            background-color: var(--color-primary);
          }
        }
      
        &--animated {
          animation: moveInBottom 0.5s ease-out 0.75s;
          animation-fill-mode: backwards;
        }
      }

.font-color{
    color: #53d258 !important;
}