// Sidebar ///////////////

.sidebar {
  border-right: var(--border);
  &__logo {
    padding: 2.3rem 0;
    text-align: center;
    border-bottom: var(--border);

    img {
      width: 13rem;
      height: 3.2rem;
    }
  }
}

.side-nav-top {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.4rem;
  padding: 0 3rem 3rem 3rem;

  &__item {
    position: relative;
    border-radius: 15px;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &:first-child {
      .side-nav-top__link {
        color: var(--color-primary);
      }
    }
  }

  &__item:hover,
  &__item--active {
    background-color: var(--color-tertiary);

    .side-nav-top__link {
      color: var(--color-primary);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__item:active::before {
    background-color: var(--color-primary);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;

    span:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
}

.side-nav-bottom {
  font-size: 1.4rem;
  list-style: none;
  padding: 3rem 3rem 3rem 3rem;
  border-top: var(--border);

  &__item {
    position: relative;
    border-radius: 15px;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__item:hover,
  &__item--active {
    background-color: var(--color-tertiary);

    .side-nav-bottom__link {
      color: var(--color-primary);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__item:active::before {
    background-color: var(--color-primary);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;

    span:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
}

// MAIN ////////////

// HEADER ////////////@at-root
.header {
  padding: 2rem 2.4rem;
  border-bottom: var(--border);

  &__left {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
      color: var(--color-secondary-2);
    }
  }

  &__right {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-left: 1rem;
    }

    &--search-input {
      display: flex;
      align-items: center;
      border: var(--border);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: var(--color-secondary);

      span {
        font-size: 2rem;
      }

      input {
        border: none;
        outline: none;
        padding-left: 1rem;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 100px;
    }
  }
}

//MAIN CONTENT ////////
.dashboard {
  display: flex;
  gap: 2rem;

  &__chartside {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
  }

  &__aside {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  //   COUNTER /////////
  &__counter {
    display: flex;
    gap: 2rem;

    &--1 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border);

      &:hover {
        background-color: var(--color-primary);
        color: #fff;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        display: flex;
        color: rgba(83, 210, 88, 1) !important;
        font-size: 1.2rem;
      }
    }
    &--2 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border);

      &:hover {
        background-color: var(--color-primary);
        color: #fff;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        display: flex;
        color: rgba(226, 92, 92, 1) !important;
        font-size: 1.2rem;
      }
    }
    &--3 {
      flex: 1;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: 7px;
      transition: all 0.4s;
      border: var(--border);

      &:hover {
        background-color: var(--color-primary);
        color: #fff;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        display: flex;
        color: rgba(83, 210, 88, 1) !important;
        font-size: 1.2rem;
      }
    }

    &--1:hover &-top--icon {
      span {
        background-color: #fff;
      }
    }
    &--2:hover &-top--icon {
      span {
        background-color: #fff;
      }
    }
    &--3:hover &-top--icon {
      span {
        background-color: #fff;
      }
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      &--icon {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 700;

        span {
          font-size: 1.2rem;
          padding: 0.8rem;
          background: #d0dbff;
          border-radius: 50%;
          color: var(--color-primary) !important;
        }
      }

      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

// Dashboard aside /////////
.trade {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border: var(--border);

  &__coin {
    display: flex;
    justify-content: space-evenly;
    padding: 2.4rem 0;

    h3 {
      font-size: 16px;
    }
  }

  &__price {
    text-align: center;

    p {
      color: var(--color-secondary);
    }
    h3 {
      font-size: 1.8rem;
      margin-top: 0.4rem;
      font-weight: 700;
    }
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    margin: 2rem;
    padding: 1rem;

    input {
      border: none;
      outline: none;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}

.transfer {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border: var(--border);

  h3{
      font-size: 1.6rem;
      margin: 1.6rem 2rem;
  }

  &__profile {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    span{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-self: center;
    }
  }

  label{
    margin-left: 2rem;
    color: var(--color-secondary)
}

input{
    // padding: 1.1rem;
    margin: 0 2rem;
    width: -webkit-fill-available;
    border: var(--border);
    outline: none;
}
button{
    display: flex;
    align-items: center;
}
}
