.container{
    display: flex;

}

.sidebar{
    flex: 0 0 25.2rem;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard{
    padding: 2.4rem;
    background-color: var(--color-tertiary);

    &__aside{
     background-color: #fff
    }
}



